$primary: #9ec8e1;
$primary-light: #BDD9EB;
$secondary: #ff8a65;
$background: #ffffff;
$error: #ff4747;
$line-separator: #2b2b2b;

$enableGreen: #4CAF50;
$enableGreenDark: #388E3C;
$disableRed: #F44336;
$disableRedDark: #D32F2F;
